@import "../directives/impress/impress";
@import "../directives/d3/d3";
@import "../views/information/information";
@import "../views/home/home";
@import "../views/home/nav";


//hack for android support
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

$bg: #DAF3F9;

body {
  font-family: 'Stoke', serif;
  background-color: $bg;
  z-index: -9;
  overflow: hidden;
  webkit-overflow-scrolling: touch;
}

#Title{
  color: navy;
  font-family: 'Della Respira', serif;
}

h1{
  font-family: 'Della Respira', serif;
  font-size: 8em;
  color: hsla(91, 100%, 46%, 1.0);
}
h2{
  font-size: 5em;
  color: #333;
}
h3{
  font-size: 3em;
  color: #000;
}

div#Title{
	text-align: center;
  font-size: 10pt;
	color: hsla(231, 95%, 45%, 0.81);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.twoAndHalf { 

    -webkit-animation-delay: 2.5s; /* Chrome, Safari, Opera */
    animation-delay: 2.5s;
    -webkit-animation-duration: .4s; 
    animation-duration: .4s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
@keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
.fadeOut { 
    -webkit-animation-name: fadeOut; 
    animation-name: fadeOut; 
}

@-webkit-keyframes fadeOut { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeOut { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}