@import "../directives/impress/impress";
@import "../directives/d3/d3";
@import "../views/information/information";
@import "../views/home/home";
@import "../views/home/nav";
@import "../views/home/pickadate";


//hack for android support
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

$bg: #DAF3F9;

h1, h2, h3, h4, h5, p{
  min-height: 1px;
  height: auto;
}

body {
  font-family: 'Stoke', serif;
  background-color: $bg;
  z-index: -9;
  overflow: hidden;
  webkit-overflow-scrolling: touch;
  line-height: 2.4em;
}

#Title{
  color: navy;
  font-family: 'Della Respira', serif;
}

h1{
  font-family: 'Della Respira', serif;
  font-size: 2em;
  color: hsla(91, 100%, 46%, 1.0);
}
h2{
  font-family: 'Della Respira', serif;
  font-size: 1.6em;
  color: #333;
}
h3{
  font-size: 1em;
  color: #000;
}
h4{
  font-size: .8em;
}
h5{
  font-size: .6em;
}
p{
  font-size: .4em;
}

div#Title{
	text-align: center;
  font-size: 10pt;
	color: hsla(231, 95%, 45%, 0.81);
}

input[type="text"] {
  font-size: 2em;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px;
  border-style: double;
  width: 33%;
  background-color: transparent;
  text-align: center;

  &.smallerTextIn{
    font-size: .8em;
    width: 77.7%;
  }
}

input[type="submit"]{
  font-family: 'Della Respira', 'Stoke', sans-serif;
  font-size: 3em;
}

li{
  line-height: 1.2em;
}

[data-fittext]{
  margin-top: auto;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.twoAndHalf { 

    -webkit-animation-delay: 2.5s; /* Chrome, Safari, Opera */
    animation-delay: 2.5s;
    -webkit-animation-duration: .4s; 
    animation-duration: .4s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
@keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
.fadeOut { 
    -webkit-animation-name: fadeOut; 
    animation-name: fadeOut; 
}

@-webkit-keyframes fadeOut { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeOut { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}



