$bg: #DAF3F9;


div.introContainer{
  visibility: hidden;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  
  & > a {
    position: absolute;
    padding: 0px;
    margin: 0px;
    height: auto;
    top: 0%; bottom: 0%;
    cursor: pointer;
    letter-spacing: -18px;
    width: 49.99%;

    &.leftDoor{
      left: 0%;
      &>img{
        transform-origin: left 100% 0;
        right: 0%;
      }
    }
    &.rightDoor{
      right: 0%;
      &>img{
        left: 0%;
        transform-origin: right 100% 0;
      }
    }
    &>img{
      position: absolute;
      z-index: 9 ;
      top: 0%; bottom: 0%;
      height: 100%; width: 100%;
    }
  }
}


.loadCover{
  @extend .fadeIn;
  @extend .twoAndHalf;
}

.homeSlide{
  
}

.bubble{
  visibility: hidden;
  position: absolute;
  z-index: 9 ;
  font-size: 2em;
  height: 17%;
  width: 20%;
  text-align: center;
  padding: 3% 3% 3% 3%;
  color: hsla(279, 96%, 11%, 1.0);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
      text-shadow: 3px 3px #FFF, -3px -3px #FFF, 3px -3px #FFF, -3px 3px #FFF;  

    @extend .noselect;
}

.weCare{
  font-size: 3em;
  left: 0%;
  top: 25%;
  height: 33%;
  animation-delay: 5s;
  animation-duration: 2s;
}
.BV{
  font-size: 4em;
  font-family: 'Della Respira', serif;
  color: #000;
  height: 22%; width: 40%;
  padding-top: 3%;
  left: 30%; right: 50%;
  top: 0%;
  animation-delay: 7s;
  animation-duration: 2s;
  text-decoration: bold;
  text-shadow: 3px 3px #FFF, -3px -3px #FFF, 3px -3px #FFF, -3px 3px #FFF;  
      -webkit-box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.75);
}
.soYou{
  right: 0%;
  top: 25%;
  height: 33%;
  animation-delay: 9s;
}
.drInfo{
  color: #000;
  text-shadow: 3px 3px #FFF, -3px -3px #FFF, 3px -3px #FFF, -3px 3px #FFF;  
  right: 20%;
  left: 20%;
  bottom: 10%;
  height: 13%; width: 30%;
  animation-delay: 11s;
}
.ptInfo{
  color: #FFF;
  text-shadow: 3px 3px #000, -3px -3px #000, 3px -3px #000, -3px 3px #000;  right: 20%;
  bottom: 10%;
  height: 13%; width: 30%;
  animation-delay: 11s;
}