<div>
        <span class="navigationArrows left animated" ng-click="$emit('previousSlide')">&lt;</span> 
        <span  class="navigationArrows right animated" ng-click="$emit('nextSlide')">&gt;</span>
  <div id="impresshook" ng-app="impressjs" >
    <div class="no-support-message"> Your browser doesn't support this site fully, consider viewing it in <a href="https://www.google.com/chrome/browser/">Chrome</a>, the web's most popular browser. It only takes a minute to download, works with nearly any computer, and it is likely much faster, promise!</div>

    <div class="impress">
        <div id="homeSlide" class=" step slide" data-y="1500">
           <div id="introContainer" class="animated">
              <a id="leftDoor" ng-click="$emit('previousSlide')">
                <img class="" src="assets/images/white.svg" alt="We help you in-between your doctor and your home. Choose this path to seek information as a doctor." >
              </a>
              <a id="rightDoor" ng-click="$emit('nextSlide')">
                <img  class="" src="assets/images/black.svg" alt="We help you in-between your doctor and your home. Choose this path to seek information as a patient.">
              </a>
            </div>
            <div id="weCare" class="bubble animated rollIn homeSlide">We care about you...</div>
            <div id="BV" class="bubble animated lightSpeedIn homeSlide">Between Visits</div>
            <div id="soYou" class="bubble animated rollIn homeSlide">So you and your Doc can rest easy.</div>
            <div id="drInfo" class="bubble animated fadeInUpBig homeSlide">Dr's Info</div>
            <div id="ptInfo" class="bubble animated fadeInUpBig homeSlide">Pt's Info</div>
        </div>
        <div class="step slide"  data-z="-2222" data-y="1777">
          <div class="slideCont">
            <h1>&iquest;Ever had Questions?</h1>
            <h2>...that you only realized after getting home from the Doctor?</h2>
            <h1 >We're here to answer them!</h1>
            <h2 >Customized just for you, we provide you with a <b>24/7</b> service to receive information via the internet or phone.</h2>
          </div>
        </div>
        <div class="step slide"  data-z="-3333" data-x="-2222">
          <div class="slideCont">
            <h1>There's a lot of information out there...</h1>
            
            <h1 >...and we handle it all</h1>
          </div>
        </div>
<!--
        <div class="step slide" 
        ng-repeat="i in [1,2,3,4,5,6,7,8]"
        data-x="{{((i%2)-1) * 800}}"
        data-y="{{(i%4) * 800}}"
        data-z="{{-i * 500}}"
        data-rotate-x="{{((i%2)-1) * 10}}"
        data-rotate-y="{{((i%6)-1) * 40}}"
        data-rotate-z="{{i * -10}}">
            <h1>{{i}}</h1>
            <h1> Between Visits </h1>
            <h2> We care about you Between Visits, so you and your Doctor can rest easy! </h2>
            <h1> This side is still under construction! </h1>
            <h2> Be sure to check back in a few days! </h2>
            <h3> We are a medical information company that specializes in CCM. As experts of our field, we improve patient and physician outcomes through integrating diverse information into a succinct report. </h3>

        </div>
-->

        <div class="step slide" data-z="-5555" data-y="1777">
          <div class="slideCont">
            <h1>Between Visits 2</h1>
            <h2> We care about you Between Visits, so you and your Doctor can rest easy! </h2>
            <h1> This side is still under construction! </h1>
            <h2> Be sure to check back in a few days! </h2>
            <h3> We are a medical information company that specializes in CCM. As experts of our field, we improve patient and physician outcomes through integrating diverse information into a succinct report. </h3>
          </div>
        </div>

    </div>
  </div>




</div>
