

<nav class=" noselect">
  
  <input type="checkbox" checked id="button" />
  <label for="button" onclick>|||</label>

    <ul class=" ">
      <a href="/">
        <li class=" ">
          Home
        </li>
      </a>
      <a href="/signup">
        <li  class=" " ng-if="!Auth.isLogged()">
          Signup
        </li>
      </a>
      <a href="/login">
        <li  class=" " ng-if="!Auth.isLogged()">
          Login
        </li>
      </a>
      <a href="" ng-click="Auth.logout()">
        <li  class=" " ng-if="Auth.isLogged()">
          Logout
        </li>
      </a>
      <li  class=" ">
        <pre>logged in: {{ Auth.isLogged() }}</pre>
      </li>
    </ul>

</nav>
